.about {
  display: flex;
  max-height: 624px;
  padding-bottom: 303px;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  margin: 80px 56px 80px 104px;
}

.about__description {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 200px;
  padding-top: 141px;
  padding-right: 20px;
}

.about__title {
  color: #1a1b22;
  font-family: "Roboto Slab", serif;
  font-weight: 440;
  font-size: 40px;
  line-height: 46px;
}

.about__text {
  color: #1a1b22;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
