.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 26px;
}

.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0;
  padding-left: 104px;
  padding-top: 32px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  gap: 40px;
  padding-left: 150px;
  padding-top: 30px;
}

.footer__home {
  color: #1a1b22;
  text-decoration: none;
}

.footer__tripleten {
  color: #1a1b22;
  text-decoration: none;
}

.footer__social {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 104px;
  padding-top: 28px;
}

@media (max-width: 768px) {
  .footer {
    align-items: center;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__copyright,
  .footer__links,
  .footer__social {
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 18px;
  }

  .footer__links,
  .footer__social {
    justify-content: center;
    gap: 16px;
  }
}

@media (max-width: 425px) {
  .footer {
    flex-direction: column-reverse;
  }
}
