.newscard__list {
  padding-left: 104px;
  padding-right: 104px;
  padding-bottom: 208px;
}

.newscard__list-hidden {
  padding-top: 62px;
}

.newscards {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.newscard__list-title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  padding-top: 80px;
  padding-bottom: 64px;
  margin: 0;
}

.newscard__list-title-hidden {
  display: none;
}

.newscard__show-more {
  display: flex;
  background-image: url("../../assets/showmore.png");
  background-color: transparent;
  margin: 64px auto 80px auto;
  width: 288px;
  height: 64px;
  border: none;
  cursor: pointer;
  visibility: hidden;
}
