.newscard__list {
  padding-left: 104px;
  padding-right: 104px;
  padding-bottom: 208px;
}

.newscard__list-hidden {
  padding-top: 62px;
}

.newscards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.newscard__list-title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  padding-top: 80px;
  padding-bottom: 64px;
  margin: 0;
}

.newscard__list-title-hidden {
  display: none;
}

.newscard__show-more {
  display: flex;
  background-image: url("../../assets/showmore.svg");
  background-color: transparent;
  margin: 64px auto 80px auto;
  width: 288px;
  height: 64px;
  border: none;
  cursor: pointer;
}

.newscard__show-more:hover {
  background-image: url("../../assets/showmorehover.svg");
}

@media (max-width: 768px) {
  .newscard__list {
    padding-left: 40px;
    padding-right: 40px;
  }

  .newscards {
    grid-template-columns: repeat(3, 220px);
    gap: 8px;
  }

  .newscard__list-title {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (max-width: 320px) {
}
