.card {
  display: flex;
  position: relative;
  flex-shrink: 0;
  width: 400px;
  height: 576px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  list-style-type: none;
}

.card__name-container {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 400px;
  height: 272px;
  object-fit: cover;
}

.card__date {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  padding: 20px 24px 12px 24px;
  margin: 0;
}

.card__title {
  font-family: "Roboto Slab", serif;
  color: #1a1b22;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  padding: 0 24px 12px;
  margin: 0;
}

.card__content {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  padding: 0 24px 18px;
  margin: 0;
  flex-grow: 1;
}

.card__description {
  font-family: "Roboto Slab", serif;
  color: #b6bcbf;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 24px 24px;
  margin: 0;
}

.card__like-wrapper {
  position: absolute;
  top: 24px;
  right: 24px;
}

.card__like-btn {
  background-image: url("../../assets/likeicon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
}

.card__like-btn:hover {
  background-image: url("../../assets/hoverlikeicon.png");
}

.card__like-btn_saved {
  background-image: url("../../assets/likedicon.png");
}

.card__tooltip {
  position: absolute;
  top: 40%;
  right: calc(100% + 8px);
  transform: translateY(calc(-50% + 2px));
  background-color: #fff;
  color: #000;
  font-family: "Roboto", serif;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.card__tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
